*.iml
.gradle
/local.properties
/.idea
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.DS_Store
/node_modules
/npm-debug.log*
__pycache__
venv
/MANIFEST
/manifest.json
/site
/dist
/mkdocs_material.egg-info
.vscode
/app-android/release/app-android-release.apk
/app-android/release/output-metadata.json
/app-desktop/default.realm
/app-desktop/default.realm.lock
/app-desktop/cache/
/app-desktop/files/
/app-android/arm7/
/app-android/arm64/
/shared/src/commonMain/kotlin/ru/blays/ficbook/reader/shared/proxy/ProxyData.kt
/.kotlin/
/keystore.jks
/keystore.properties